<blockquote><p style="font-size: 18px" class="text-theme">{{projectName}}</p></blockquote>
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="index.html#/baseInfo/{{commonPid}}">基本信息</a>
    </li>
    <li>
        <a href="index.html#/speed/{{commonPid}}">进度</a>
    </li>
    <li>
        <a href="index.html#/files/{{commonPid}}">文件</a>
    </li>
    <li>
        <a href="index.html#/endProject/{{commonPid}}">结项</a>
    </li>
</ul>
<br/>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="baseInfo">
        <div class="tab-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{data.project.name}}
                        <span ng-if="data.project.status == '未提交评审'" class="glyphicon glyphicon-edit pull-right" data-toggle="modal" data-target="#myModal"
                              style="cursor: pointer" title="修改项目"></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <td>
                                <b>标<span style="margin: 0 7px"></span>的<span style="margin: 0 7px"></span>额:</b>
                            </td>
                            <td>
                                &nbsp; {{data.project.money}}万
                            </td>
                        </tr>
                    </table>
                    <p>
                    </p>
                    <table>
                        <tr>
                            <td valign="top">
                                <b style="margin-right: 8px">案<span style="margin: 0 3px"></span>情<span style="margin: 0 2px"></span>简<span
                                        style="margin: 0 2px"></span>介:</b>
                            </td>
                            <td valign="top">
                                {{data.project.brief}}
                            </td>
                        </tr>
                    </table>
                    <p></p>
                    <p><b>状<span style="margin: 0 21px"></span>态:</b> &nbsp;<span class="text-theme">{{data.project.status}}</span></p>
                    <table>
                        <tr>
                            <td valign="top">
                                <b style="margin-right: 8px">客<span style="margin: 0 2px"></span>户<span style="margin: 0 2px"></span>目<span
                                        style="margin: 0 3px"></span>标:</b>
                            </td>
                            <td valign="top">
                               <span>{{data.project.goals | splite}}</span>
                            </td>
                        </tr>
                    </table>
                    <p></p>

                    <p><b>对方当事人:</b> &nbsp; {{data.project.opposite}}</p>
                    <p><b>第<span style="margin: 0 7px"></span>三<span style="margin: 0 7px"></span>人:</b> &nbsp; {{data.project.third}}
                    </p>
                    <p><b>对<span style="margin: 0 7px"></span>接<span style="margin: 0 7px"></span>人:</b> &nbsp;
                        {{data.project.middle_man}}</p>
                    <p><b>对接人电话: &nbsp;</b> {{data.project.middle_man_phone}}</p>
                    <p><b>对接人公司: &nbsp;</b> {{data.project.middle_man_firm}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-12" ng-if="data.client != undefined">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                客户信息
                                <span ng-if="data.project.status == '未提交评审'" class="glyphicon glyphicon-edit pull-right" data-toggle="modal"
                                      data-target="#editInfo" style="cursor: pointer"></span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table>
                                <tr>
                                    <td valign="top" style="width: 40px">
                                        <b style="margin-right: 8px">名称:</b>
                                    </td>
                                    <td valign="top">
                                        {{data.client.name}}
                                    </td>
                                </tr>
                            </table>
                            <p></p>
                            <p style="margin-bottom: 5px"><b>手机:</b> &nbsp;{{data.client.phone}}</p>
                            <p style="margin-bottom: 5px"><b>电话:</b> &nbsp;{{data.client.tel}}</p>
                            <p><b>邮箱:</b> &nbsp;{{data.client.email}}</p>
                            <p style="margin-bottom: 5px"><b>公司或对接人:</b> &nbsp;{{data.client.firm}}</p>
                            <p style="margin-bottom: 5px"><b>部门:</b> &nbsp;{{data.client.department}}</p>
                            <p><b>职位:</b> &nbsp;{{data.client.position}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12" ng-if="data.sales != undefined">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">市场人员信息
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table>
                                <tr>
                                    <td valign="top" style="width: 40px">
                                        <b style="margin-right: 8px">名称</b>
                                    </td>
                                    <td valign="top">
                                        {{data.sales.name}}
                                    </td>
                                </tr>
                            </table>
                            <p></p>
                            <p style="margin-bottom: 5px"><b>手机:</b> &nbsp;{{data.sales.phone}}</p>
                            <p style="margin-bottom: 5px"><b>电话:</b> &nbsp;{{data.sales.tel}}</p>
                            <p><b>邮箱:</b> &nbsp;{{data.sales.email}}</p>
                            <p style="margin-bottom: 5px"><b>公司:</b> &nbsp;{{data.sales.firm}}</p>
                            <p style="margin-bottom: 5px"><b>部门:</b> &nbsp;{{data.sales.department}}</p>
                            <p><b>职位:</b> &nbsp;{{data.sales.position}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12" ng-if="data.lawyer != undefined">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">律师信息
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table>
                                <tr>
                                    <td valign="top" style="width: 40px">
                                        <b style="margin-right: 8px">名称</b>
                                    </td>
                                    <td valign="top">
                                        {{data.lawyer.name}}
                                    </td>
                                </tr>
                            </table>
                            <p></p>
                            <p style="margin-bottom: 5px"><b>手机:</b> &nbsp;{{data.lawyer.phone}}</p>
                            <p style="margin-bottom: 5px"><b>电话:</b> &nbsp;{{data.lawyer.tel}}</p>
                            <p><b>邮箱:</b> &nbsp;{{data.lawyer.email}}</p>
                            <p style="margin-bottom: 5px"><b>公司:</b> &nbsp;{{data.lawyer.firm}}</p>
                            <p style="margin-bottom: 5px"><b>部门:</b> &nbsp;{{data.lawyer.department}}</p>
                            <p><b>职位:</b> &nbsp;{{data.lawyer.position}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12" ng-if="data.manager != undefined">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">项目经理信息
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table>
                                <tr>
                                    <td valign="top" style="width: 40px">
                                        <b style="margin-right: 8px">名称</b>
                                    </td>
                                    <td valign="top">
                                        {{data.manager.name}}
                                    </td>
                                </tr>
                            </table>
                            <p></p>
                            <p style="margin-bottom: 5px"><b>手机:</b> &nbsp;{{data.manager.phone}}</p>
                            <p style="margin-bottom: 5px"><b>电话:</b> &nbsp;{{data.manager.tel}}</p>
                            <p><b>邮箱:</b> &nbsp;{{data.manager.email}}</p>
                            <p style="margin-bottom: 5px"><b>公司:</b> &nbsp;{{data.manager.firm}}</p>
                            <p style="margin-bottom: 5px"><b>部门:</b> &nbsp;{{data.manager.department}}</p>
                            <p><b>职位:</b> &nbsp;{{data.manager.position}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--修改项目信息-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    修改项目信息
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <label>项目名称</label>
                    <p><input type="text" class="form-control" placeholder="项目名称" ng-model="data.project.name"/></p>
                    <label>标的额</label>
                    <p><input type="text" class="form-control" placeholder="标的额" ng-model="data.project.money"/></p>
                    <label>对方当事人</label>
                    <p><input type="text" class="form-control" placeholder="对方当事人" ng-model="data.project.opposite"/>
                    </p>
                    <label>第三人</label>
                    <p><input type="text" class="form-control" placeholder="第三人" ng-model="data.project.third"/></p>
                    <label>案情简介</label>
                    <p><textarea class="form-control" placeholder="案情简介" ng-model="data.project.brief"></textarea></p>
                    <label ng-if="data.project.goals.length > 0">客户目标</label>
                    <p ng-repeat="msg in data.project.goals | splitArr track by $index"
                       ng-if="data.project.goals != ''">
                        <input ng-if="msg != ''" type="text" class="form-control msg" placeholder="客户目标"
                               ng-model="msg"/>
                    </p>
                    <p><label>对接人</label></p>
                    <p><input type="text" class="form-control" ng-model="data.project.middle_man"/>
                    </p>
                    <label>对接人电话</label>
                    <p><input type="text" class="form-control" ng-model="data.project.middle_man_phone"/>
                    </p>
                    <label>对接人公司</label>
                    <p><input type="text" class="form-control" ng-model="data.project.middle_man_firm"/>
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <span class="red pull-right">{{alarmMsg}}</span>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" ng-click="editInfo()">
                    提交更改
                </button>
            </div>
        </div>
    </div>
</div>

<!--修改用户信息-->
<div class="modal fade" id="editInfo" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    修改用户信息
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <label>姓名</label>
                    <p><input type="text" class="form-control" placeholder="姓名" ng-model="data.client.name"/>
                    </p>
                    <label>手机号</label>
                    <p><input type="text" class="form-control" placeholder="手机" ng-model="data.client.phone"/></p>
                    <label>公司或对接人</label>
                    <p><input type="text" class="form-control" placeholder="公司" ng-model="data.client.firm"/></p>
                    <label>部门</label>
                    <p><input type="text" class="form-control" placeholder="所在部门" ng-model="data.client.department"/>
                    </p>
                    <label>职位</label>
                    <p><input type="text" class="form-control" placeholder="职位" ng-model="data.client.position"/></p>
                    <label>邮箱</label>
                    <p><input type="text" class="form-control" placeholder="邮箱" ng-model="data.client.email"/></p>
                    <label>座机</label>
                    <p><input type="text" class="form-control" placeholder="座机" ng-model="data.client.tel"/></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" ng-click="submitClientInfo()">
                    提交更改
                </button>
            </div>
        </div>
    </div>
</div>