<div class="row">
    <div class="col-sm-3 col-xs-6" ng-repeat="info in data">
        <div class="panel panel-default" ng-click="passNodeName(info.name)">
            <div class="panel-body">
                <label class="pull-right">
                    <span class="glyphicon glyphicon-edit" style="cursor: pointer" ng-click="editNode(info.id, info.name)" data-toggle="modal" data-target="#myModalEdit"></span>
                    <span class="glyphicon glyphicon-remove" style="cursor: pointer" ng-click="delNode(info.id)"></span>
                </label>
                <a href="#/node/{{info.id}}">
                    <p class="text-center">
                        <span style="color: #276e85">{{info.name}}</span>
                    </p>
                </a>
            </div>
        </div>

    </div>
    <div class="col-sm-3 col-xs-6">
        <a href="javascript:;" data-toggle="modal" data-target="#myModal">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="text-center">
                        <span title="添加模块">➕</span>
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    添加模块
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <label>模块名称</label>
                    <p><input type="text" class="form-control" placeholder="模块名称" ng-model="name"/></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" ng-click="addModel()">
                    添加
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    修改模块
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <label>模块名称</label>
                    <p><input type="text" class="form-control" placeholder="模块名称" ng-model="nodeName"/></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" ng-click="editModel()">
                    修改
                </button>
            </div>
        </div>
    </div>
</div>

<style>
    p {
        margin: 0px;
        padding: 10px;
    }
    .panel-body:hover {
        background: #f1f1f1;
    }
</style>